.buttons{
  margin: 50px;
  margin-top:200px;
  font-family: "Gugi";
  position: relative;
}

#bottomArrows{
  float: center;
}
#invisible{
  visibility: hidden;
}

#upArrow{
  float: center;
}

image{
  float: center;
  border:5px solid #ff0000;
  box-sizing: border-box;
}

.buttonArrow{
  padding: 10px;
  width: 100px;
  height: 100px;
}

button{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}
